*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

h1,h2,h3,h4,h5,h6{
    color: white;
    color: red;
}

body{
    min-height: 100%;
    background-color: #b1aba9;
}

.wrapper{
  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todowrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    background-color:  #d3cdcb ;
    border-radius: 20px;
}

.logo{
    margin-bottom: 20px;
}

#task{
    background-color: aliceblue;
    padding: 10px;
    width: 320px;
}

#add{
    background-color: green;
    width: 100px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    margin-left: 30px;
}

.navbar{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links ul{
display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-links li a{
    display: block;
    padding: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-decoration: none;
    display: block;
    border-bottom: 3px solid transparent;
}

.navbar-links li a:hover{
    cursor: pointer;
}
.logoo{
    padding: 20px;

}

.myicon{
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
    display: none;
}

@media only screen and (max-width:600px) {

    .navbar{
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .myicon{
        display: flex;
    }

    .navbar-links{
        display: none;
        }

}

